; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

; All JavaScript files should use 2 space indentation.
[**.js]
indent_style = space
indent_size  = 2

[**.json]
indent_style = space
indent_size  = 2

[Makefile]
indent_style = tab
indent_size  = 8
